/ LINK
%link{ :href => "/_res/css/main.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
%link{ :href => "/_res/css/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }
-# IE-specific stylesheets can go in this space