/ META
-# define content language
%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
%meta{ :content => "en-us", "http-equiv" => "Content-Language" }
-# cancel some IE behaviors
%meta{ :content => "no", "http-equiv" => "ImageResize" }
%meta{ :content => "no", "http-equiv" => "ImageToolbar" }
-# keyword/description metadata
%meta{ :name => "keywords", :content => "" }
%meta{ :name => "description", :content => "" }