/ SCRIPT
-# since all other site-specific JS depends on this file, i include it in the head despite the blocking behavior
%script{ :type=>"text/javascript", :src=>"./_res/js/jquery.js" }
-# all other JS files are referenced in the _page-end partial